@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentVision

@{
    ViewData["Title"] = "Manage Department Vision";
}

<h4>Manage Vision for: <strong class="text-primary">@ViewBag.DepartmentName</strong></h4>

<form asp-action="ManageVision" method="post">
    <input type="hidden" asp-for="DeptId" />
    <div class="form-group">
        <label asp-for="VisionText"></label>
        <textarea asp-for="VisionText" class="form-control" rows="5"></textarea>
        <span asp-validation-for="VisionText" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
