@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentPso

@{
    ViewData["Title"] = "Details DepartmentPsos";
}

<h2>Details DepartmentPsos</h2>

<!-- Add Details content for DepartmentPsos -->
