@model IEnumerable<GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentPeo>

@{
    ViewData["Title"] = "Department Peos";
}

<h3>PEO Statements for <strong class="text-primary">@ViewBag.DepartmentName</strong></h3>

<a asp-action="AddPeos"
   asp-controller="Department"
   asp-route-departmentId="@ViewBag.DepartmentId"
   class="btn btn-success mb-3">
    + Add PEOs
</a>

@if (!Model.Any())
{
    <div class="alert alert-info">No missions have been added yet.</div>
}
else
{
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <i class="fas fa-check-circle text-success me-2"></i>
                @item.Peotext
            </li>
        }
    </ul>
}
