@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentPeos

@{
    ViewData["Title"] = "Details DepartmentPeos";
}

<h2>Details DepartmentPeos</h2>

<!-- Add Details content for DepartmentPeos -->
