@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentMission

@{
    ViewData["Title"] = "Delete DepartmentMission";
}

<h2>Delete DepartmentMission</h2>

<!-- Add Delete content for DepartmentMission -->
