@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentMission

@{
    ViewData["Title"] = "Details DepartmentMission";
}

<h2>Details DepartmentMission</h2>

<!-- Add Details content for DepartmentMission -->
