@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentVision

@{
    ViewData["Title"] = "Department Vision Details";
}

<h2>Vision for @ViewBag.DepartmentName</h2>

<div class="card">
    <div class="card-body">
        <p>@Model.VisionText</p>
    </div>
    <a asp-controller="Department" asp-action="ManageVision" asp-route-departmentId="@Model.DeptId" class="btn btn-primary mt-2">Edit Vision</a>
</div>
