@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentVision

@{
    ViewData["Title"] = "Details DepartmentVision";
}

<h2>Details DepartmentVision</h2>

<!-- Add Details content for DepartmentVision -->
