@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentVision

@{
    ViewData["Title"] = "Edit DepartmentVision";
}

<h2>Edit DepartmentVision</h2>

<!-- Add Edit content for DepartmentVision -->
