@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentIntake

@{
    ViewData["Title"] = "Delete DepartmentIntake";
}

<h2>Delete DepartmentIntake</h2>

<!-- Add Delete content for DepartmentIntake -->
