@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentIntake

@{
    ViewData["Title"] = "Details DepartmentIntake";
}

<h2>Details DepartmentIntake</h2>

<!-- Add Details content for DepartmentIntake -->
