@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentIntake

@{
    ViewData["Title"] = "Edit DepartmentIntake";
}

<h2>Edit DepartmentIntake</h2>

<!-- Add Edit content for DepartmentIntake -->
