@model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentPsos

@{
    ViewData["Title"] = "Create DepartmentPsos";
}

<h2>Create DepartmentPsos</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Psotext"></label>
        <input asp-for="Psotext" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
