@* @model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentLabs

@{
    ViewData["Title"] = "Delete DepartmentLabs";
}

<h2>Delete DepartmentLabs</h2>

<!-- Add Delete content for DepartmentLabs --> *@
