@* @model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentLabs

@{
    ViewData["Title"] = "Details DepartmentLabs";
}

<h2>Details DepartmentLabs</h2>

<!-- Add Details content for DepartmentLabs --> *@
