@* @model GECPATAN_FACULTY_PORTAL.Models.Department.DepartmentLab

@{
    ViewData["Title"] = "Details DepartmentLab";
}

<h2>Details DepartmentLab</h2>

<!-- Add Details content for DepartmentLab --> *@
